* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #222831, #393e46);
}

.header {
  height: 15vh;
  font-size: 10vmin;
  font-weight: bold;
  color: #00adb5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 5px rgba(0, 172, 181, 0.7);
}

.main {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vmin;
}
.move {
  height: 25vmin;
  width: 25vmin;
  font-size: 15vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #222831;
  background-color: #393e46;
  transition: all 0.3s ease;
}

.move:hover {
  box-shadow: 0 0 20px #00adb5;
  border-color: #00adb5;
  transform: scale(1.15);
  cursor: pointer;
}

.move:active {
  box-shadow: 0 0 10px #00adb5;
  border-color: #28dfe8;
}

.score {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2vmin;
  font-size: 5vmin;
  color: #00adb5;
}

.result-container {
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #eeeeee;
  flex-direction: column;
  font-size: 4vmin;
  font-weight: bold;
  color: #00adb5;
}

.footer {
  color: black;
  text-align: center;
  height: 3vh;
}

@media(max-width: 500px) {
  .header {
    font-size: 15vmin;
    text-align: center;
    height: 25vh;
  }

  .main {
    gap: 1vmin;
    height: 30vh;
  }

  .move {
    height: 30vmin;
    width: 30vmin;
  }

  .score {
    font-size: 10vmin;
  }

  .result-container {
    font-size: 7vmin;
  }
}